<% include ./header %>
	<div class="page-area">
	<% include ./nav %>
	<div class="pd20">
		<div class="columns">
		  <div class="column column is-2">
		  	<% include ./sideMenu %>	
		  </div>
		  <div class="column column is-10">		  
			<% include ./breadcrumb %>
			<div class="buttons">
			<a class="button is-primary" href="/article/add">添加文章</a>
			<a class="button is-info" id="addType">添加分类</a>
			</div>
			<table class="table is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th width="50">ID</th>
						<th>文章标题</th>
						<th>文章分类</th>
						<th>发布时间</th>
						<th width="100">点击量</th>
						<th width="100">作者</th>
						<th width="150">操作</th>
					</tr>
				</thead>
				<tbody>
					<% articleList.forEach(function(item){%>
						<tr>
							<td><%= item.id %></td>
							<td><%= item.title %></td>
							<td><%= item.typeName %></td>
							<td class="datetime"><%= item.datetime %></td>
							<td><%= item.click %></td>
							<td>admin</td>
							<td>
								<a class="button is-small is-primary" href="/article/updata/<%= item.id %>">编辑</a> 
								<a class="button is-small is-danger">删除</a>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		  </div>
		</div>
	</div>
	</div>
	<script>

        $(document).ready(function() {

        	



 // var date = new Date('Thu May 12 2017 08:00:00 GMT+0800 (中国标准时间)');  
 //    date_value=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
 //    console.log(date_value);

        	//关闭modal
        	function closeModal(){
        		$(".modal").remove();
        	};

        	//添加分类
        	$("#addType").click(function() {

        		//"添加分类"HTML
        		var panelContent = 
        		"<div class='modal is-active'>"+
        			"<div class='modal-background'></div>"+
        			"<div class='modal-card'>"+
        				"<header class='modal-card-head'>"+
        					"<p class='modal-card-title'>添加分类</p>"+
        					"<button class='delete closeModal' aria-label='close'></button>"+
        				"</header>"+
        				"<section class='modal-card-body'>"+
        					"<input class='input' type='text' id='typeName' placeholder='分类名'>"+
        				"</section>"+
        				"<footer class='modal-card-foot'>"+
        					"<button class='button is-success' id='addTypeAjax'>添加</button>"+
        					"<button class='button closeModal'>取消</button>"+
        				"</footer>"+
        			"</div>"+
        		"</div>";

        		//显示"添加分类"
        		$("body").append(panelContent);
        		
        		//input默认选中
        		$("#typeName").focus();
        		
        		//关闭按钮事件
        		$(".closeModal").click(function() {
        			closeModal()
        		});

        		//编辑数据
        		$("#updataBtn").click(function(event) {
        			var id = $(this).data("id");
        			console.log(id);
        		});

        		//添加按钮
        		$("#addTypeAjax").click(function() {
        			var typeName = $("#typeName").val();
        			if(typeName==""){
        				//显示taost，提示不能为空
			            $.lDialog.iconToast({
			                title: '分类名不能为空',
			                icon: 'error',
			                duration: 2000
			            })
        			}else {
        				//显示sLoadingToast
			            $.lDialog.sLoadingToast({
			                title: '加载中',
			                theme:'default'
			            })
        				$.ajax({
							url: '/article/addArticleType',
							type: 'POST',
							data: {
								typeName:typeName
							}
						})
        				.done(function(res) {
        					$.lDialog.hLoadingToast(); //关闭加载框
        					if(res==201){
        						//分类已经存在
					            $.lDialog.iconToast({
					                title: '分类已经存在',
					                icon: 'error',
					                duration: 2000
					            })
        					}else if(res==200) {
        						//分类已经存在
					            $.lDialog.iconToast({
					                title: '添加成功',
					                icon: 'success',
					                duration: 2000
					            })
					            //关闭modal
					            setTimeout(function(){
					                closeModal();
					            },2000)
					            
        					}else {
        						//分类已经存在
					            $.lDialog.iconToast({
					                title: '没知错误,请联系管理员',
					                icon: 'error',
					                duration: 2000
					            })
        					}
        				})
        				.fail(function(res) {
        					console.log(res);
        				})
        				
        			}
        		});
        	});
        });	
	</script>
<% include ./footer %>


